//Display header on "about" page
<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>  //Display content
<%- include("partials/footer"); -%>  //Display footer on "about" page
