//Display header on "contact" page
<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>  //Display content
<%- include("partials/footer"); -%>  //Display footer on "about" page
